@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap");

* {
  box-sizing: border-box;
  /* background-size: cover; */
  /* background-color: rgb(250, 250, 250); */
  /* font-family: sans-serif; */
}
#register,
#login {
  height: 100%;
  background: repeating-linear-gradient(
    315deg,
    rgb(250, 250, 250),
    rgb(248, 248, 248) 15%
  );
  /* background-color: rgb(250, 250, 250); */
}
#register form,
#login form {
  width: 300px;
  height: 250px;
}
table,
.navbar,
nav {
  font-family: "poppins";
}

#register .col-5,
#login .col-5 {
  padding: 0 56px;
}
.login-form {
  padding: 16px;
  margin: 16px;
}

button.btn {
  padding: 10px;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 600;
}
label {
  font-size: small;
  font-weight: 500;
}
.header-register {
  text-align: center;
  font-weight: bold;
}
.info {
  font-size: small;
  text-align: center;
}
.info span {
  color: rgb(63, 123, 218);
  font-weight: 650;
  /* border-bottom: none; */
}
span a {
  text-decoration: none;
}
.hero,
.hero-text {
  padding: 52px;
}
.hero-text {
  margin-bottom: 58px;
}
.rigth {
  text-align: right;
}

/* side-dash board css */
.side-dashboard {
  width: 218px;
  height: 100%;
  background-color: rgb(250, 250, 250);
}

.logo {
  width: 100%;
  padding: 12px;
}
.logo img {
  width: 100%;
}

.bg-color {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  background-color: #3f7bda;
}
.navDiv {
  background-color: #3f7bda;
  padding: 16px;
}
.header-name,
.header-name h5,
.header-name span {
  background-color: #65d173;
}

.header-name {
  position: relative;
  top: 6px;
  padding: 16px;
  margin: 12px 0;
  text-align: center;
  color: white;
}
.navTab {
  margin: 0;
  padding: 0;
}
.navColor {
  background-color: #3f7bda;
  color: white;
  font-size: small;
  letter-spacing: 1px;
  font-weight: 30;
  list-style-type: none;
}
.sym {
  width: 20px;
  height: 46px;
  /* background-color: #3f7bda; */
  margin: 0 8px;
  color: white;
}
.sym,
.navLink {
  display: inline-block;
}
.user-img {
  /* background-image: url("/public/images/avatar.png"); */
  display: flex;
  position: relative;
  top: 32px;
  width: 84px;
  height: 84px;
  margin: 0 auto;
  /* padding: 32px; */
  z-index: 1;
  /* background-color: red; */
  border-radius: 200px;
}

/* admin table */
table {
  width: 100%;
}
thead {
  color: white;
  background-color: #3f7bda;
}

tr th,
tr td {
  padding: 8px 24px;
  font-size: small;
  font-weight: 400;
}
tbody tr {
  padding: 14px 0;
}
tr th {
  font-size: medium;
  font-weight: 400;
}
.svg-round {
  color: #3f7bda;
  width: 38px;
  height: 38px;
  display: inline-block;
  margin: 8px 8px 8px 8px;
  padding: 8px 8px 8px 8px;
  background-color: rgb(250, 250, 250);
  border-radius: 100%;
  cursor: pointer;
}
.addSym {
  color: #3f7bda;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.navLinkTable {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  padding: 16px;
  color: rgb(52, 51, 51);
}
.navLinkTable:focus {
  color: #3f7bda;
  border-bottom: 2px solid #3f7bda;
}
.navColor:hover {
  background-color: #0b5ee3;
  cursor: pointer;
  border-radius: 12px;
}
.household {
  padding: 24px;
  background-color: rgb(250, 250, 250);
}
.household .btn {
  background-color: #017dda;
  color: white;
}

.symDiv > a,
.action-sym,
.action {
  display: flex;
  justify-content: end;
}
.action {
  padding-right: 54px;
}

.household .btn:hover {
  background-color: #00d47a;
  color: white;
}
.isActive-block {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.household-title {
  font-family: monospace;
  text-align: center;
  padding: 8px 0;
  border-bottom: 2px solid #017dda;
}
.reset-block {
  display: flex;
  justify-content: center;
  margin: 180px 0;
}
.filter {
  width: 150px;
  height: 30px;
  margin: 18px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px #cdc4c4;
}
.hero-style {
  font-family: "poppins";
}
.hero-style p {
  font-style: italic;
  font-weight: 700;
  border-bottom: 2px dashed #746a6a;
}

/* .navLink {
  display: block;
  text-align: center;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
